@import '~bootstrap/scss/bootstrap';

.wrapper {
	.input {
		width: 100%;
		margin-top: 10px;
	}

	.baseWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	td {
		text-align: center;
	}

	td:first-child {
		text-align: left;
	}

	.base {
		cursor: pointer;
		span {
			margin: 0;
			padding: 0;
		}
	}

	.hight {
		display: table-cell;
		justify-content: center;
		align-items: center;
		color: green;
	}

	.low {
		display: table-cell;
		justify-content: center;
		align-items: center;
		color: red;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		margin: 50px 150px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.wrapper {
		margin: 30px 120px;
	}
}

@media (min-width: 600px) and (max-width: 992px) {
	.wrapper {
		margin: 20px 60px;
	}
}

@media (min-width: 480px) and (max-width: 600px) {
	.wrapper {
		font-size: 10px;
		margin: 0;
	}
}

@media (min-width: 350px) and (max-width: 480px) {
	.wrapper {
		font-size: 8px;
		margin: 0;
	}
}

@media (max-width: 350px) {
	.wrapper {
		font-size: 6px;
	}
}
